Makefile
Makefile.in
aclocal.m4
adpcm/.deps/
adpcm/Makefile
adpcm/Makefile.in
adpcm/adpcm.o
adpcm/libadpcm.a
autom4te.cache/
common/.deps/
common/Makefile
common/Makefile.in
common/avl.o
common/configfile.o
common/libcommon.a
common/main.o
config.h
config.h.in
config.log
config.status
config/
configure
gsm/Makefile
gsm/Makefile.in
gsm/inc/Makefile
gsm/inc/Makefile.in
gsm/src/.deps/
gsm/src/Makefile
gsm/src/Makefile.in
gsm/src/add.o
gsm/src/code.o
gsm/src/debug.o
gsm/src/decode.o
gsm/src/gsm_create.o
gsm/src/gsm_decode.o
gsm/src/gsm_destroy.o
gsm/src/gsm_encode.o
gsm/src/gsm_explode.o
gsm/src/gsm_implode.o
gsm/src/gsm_option.o
gsm/src/gsm_print.o
gsm/src/libgsm.a
gsm/src/long_term.o
gsm/src/lpc.o
gsm/src/preprocess.o
gsm/src/rpe.o
gsm/src/short_term.o
gsm/src/table.o
hrprof/.deps/
hrprof/Makefile
hrprof/Makefile.in
inc/Makefile
inc/Makefile.in
linkbox/.deps/
linkbox/Ctext.o
linkbox/Makefile
linkbox/Makefile.in
linkbox/ToneGen.o
linkbox/configvars.o
linkbox/ctcss.o
linkbox/devices.o
linkbox/devinput.o
linkbox/dh.o
linkbox/filters.o
linkbox/nodes.o
linkbox/ports.o
linkbox/tlb
linkbox/ulaw.o
linkbox/usbdev.o
linkbox/voip.o
scripts/Makefile
scripts/Makefile.in
soundmodem/.deps/
soundmodem/Makefile
soundmodem/Makefile.in
soundmodem/ax25.o
soundmodem/costab.o
soundmodem/libsoundmodem.a
soundmodem/modem.o
spandsp/.deps/
spandsp/Makefile
spandsp/Makefile.in
spandsp/bitstream.o
spandsp/dtmf.o
spandsp/g726.o
spandsp/libspandsp.a
spandsp/tone_detect.o
src/.deps/
src/Makefile
src/Makefile.in
src/avrs.o
src/conference.o
src/dirclient.o
src/eventhook.o
src/hostfile.o
src/libtbd.a
src/thebridge.o
src/users.o
stamp-h1
tlbcmd/.deps/
tlbcmd/Makefile
tlbcmd/Makefile.in
tlbcmd/tbdcmd.o
tlbcmd/tlbcmd
zlib/.deps/
zlib/Makefile
zlib/Makefile.in
zlib/adler32.o
zlib/compress.o
zlib/crc32.o
zlib/deflate.o
zlib/gzio.o
zlib/infblock.o
zlib/infcodes.o
zlib/inffast.o
zlib/inflate.o
zlib/inftrees.o
zlib/infutil.o
zlib/libzlib.a
zlib/trees.o
zlib/uncompr.o
zlib/zutil.o

